<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/product/update" method="post" th:object="${product}" enctype="multipart/form-data">
    <table>
        <tr><td><input type="hidden" th:field="*{id}"/></td></tr>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text" th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Image</td>
            <td>
                <input type="file" th:field="*{image}" >

            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>